﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="DahiliYonetimi.aspx.cs" Inherits="DigilogV2.DahiliYonetimi" %>

<%@ Register src="Ucntrl/Ucntrl_DahiliYonetimi.ascx" tagname="Ucntrl_DahiliYonetimi" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_DahiliYonetimi ID="Ucntrl_DahiliYonetimi" runat="server" />
</asp:Content>
