﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="DepartmanYonetimi.aspx.cs" Inherits="DigilogV2.DepartmanYonetimi" %>

<%@ Register src="Ucntrl/Ucntrl_DepartmanYonetimi.ascx" tagname="Ucntrl_DepartmanYonetimi" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_DepartmanYonetimi ID="Ucntrl_DepartmanYonetimi" runat="server" />
</asp:Content>
