﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="DepolamaBirimi.aspx.cs" Inherits="DigilogV2.DepolamaBirimi" %>

<%@ Register src="Ucntrl/Ucntrl_DepolamaBirimi.ascx" tagname="Ucntrl_DepolamaBirimi" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_DepolamaBirimi ID="Ucntrl_DepolamaBirimi" runat="server" />
</asp:Content>
