﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="Grup.aspx.cs" Inherits="DigilogV2.Grup" %>

<%@ Register src="Ucntrl/Ucntrl_Grup.ascx" tagname="Ucntrl_Grup" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_Grup ID="Ucntrl_Grup" runat="server" />
</asp:Content>
