﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="KayitSorgulama.aspx.cs" Inherits="DigilogV2.KayitSorgulama" %>

<%@ Register src="Ucntrl/Ucntrl_KayitSorgulama.ascx" tagname="Ucntrl_KayitSorgulama" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_KayitSorgulama ID="Ucntrl_KayitSorgulama" runat="server" />
</asp:Content>
