﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="KullaniciListesi.aspx.cs" Inherits="DigilogV2.KullaniciListesi" %>

<%@ Register src="Ucntrl/Ucntrl_KullaniciList.ascx" tagname="Ucntrl_KullaniciList" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_KullaniciList ID="Ucntrl_KullaniciList" runat="server" />
</asp:Content>
