﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="Log.aspx.cs" Inherits="DigilogV2.Log" %>

<%@ Register src="Ucntrl/Ucntrl_KullaniciSorgulama.ascx" tagname="Ucntrl_KullaniciSorgulama" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_KullaniciSorgulama ID="Ucntrl_KullaniciSorgulama" runat="server" />
</asp:Content>
