﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="OzelGunYonetimi.aspx.cs" Inherits="DigilogV2.OzelGunYonetimi" %>

<%@ Register src="Ucntrl/Ucntrl_OzelGunYonetimi.ascx" tagname="Ucntrl_OzelGunYonetimi" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_OzelGunYonetimi ID="Ucntrl_OzelGunYonetimi" runat="server" />
</asp:Content>
