﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="SistemUygulama.aspx.cs" Inherits="DigilogV2.SistemUygulama" %>

<%@ Register src="Ucntrl/Ucntrl_SistemUygulama.ascx" tagname="Ucntrl_SistemUygulama" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_SistemUygulama ID="Ucntrl_SistemUygulama" runat="server" />
</asp:Content>
