﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="SubeYonetimi.aspx.cs" Inherits="DigilogV2.SubeYonetimi" %>

<%@ Register src="Ucntrl/Ucntrl_SubeYonetimi.ascx" tagname="Ucntrl_SubeYonetimi" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_SubeYonetimi ID="Ucntrl_SubeYonetimi" runat="server" />
</asp:Content>
