﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Master.Master" CodeBehind="YeniDepartman.aspx.cs" Inherits="DigilogV2.YeniDepartman" %>
<%@ Register src="Ucntrl/Ucntrl_YeniDepartman.ascx" tagname="Ucntrl_YeniDepartman" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_YeniDepartman ID="Ucntrl_YeniDepartman" runat="server" />
</asp:Content>

