﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Master.Master" CodeBehind="YeniKullanici.aspx.cs" Inherits="DigilogV2.YeniKullanici" %>
<%@ Register src="Ucntrl/Ucntrl_YeniKullanici.ascx" tagname="Ucntrl_YeniKullanici" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_YeniKullanici ID="Ucntrl_YeniKullanici" runat="server" />
</asp:Content>

