﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Master.Master" CodeBehind="YeniSube.aspx.cs" Inherits="DigilogV2.YeniSube" %>
<%@ Register src="Ucntrl/Ucntrl_YeniSube.ascx" tagname="Ucntrl_YeniSube" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_YeniSube ID="Ucntrl_YeniSube" runat="server" />
</asp:Content>

