﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Master.Master" CodeBehind="YeniDahili.aspx.cs" Inherits="DigilogV2.YeniDahili" %>
<%@ Register src="Ucntrl/Ucntrl_YeniDahili.ascx" tagname="Ucntrl_YeniDahili" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_YeniDahili ID="Ucntrl_YeniDahili" runat="server" />
</asp:Content>

