﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/MasterPages/Master.Master" CodeBehind="YeniOzelGun.aspx.cs" Inherits="DigilogV2.YeniOzelGun" %>
<%@ Register src="Ucntrl/Ucntrl_YeniOzelGun.ascx" tagname="Ucntrl_YeniOzelGun" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_YeniOzelGun ID="Ucntrl_YeniOzelGun" runat="server" />
</asp:Content>

