﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Master.Master" AutoEventWireup="true" CodeBehind="Yetki.aspx.cs" Inherits="DigilogV2.Yetki" %>

<%@ Register src="Ucntrl/Ucntrl_Yetki.ascx" tagname="Ucntrl_Yetki" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc2:Ucntrl_Yetki ID="Ucntrl_Yetki" runat="server" />
</asp:Content>
